@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "poppins";
}

h2 {
  color: white;
  font-size: 30px;
}
.row {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 10px;
}
.image {
  display: flex;
  justify-content: space-between;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8aaae5;
  height: 120px;
}
.imgslider {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  margin: auto 8px !important;
  height: 635px;
}
.imgslider li {
  margin-bottom: 25px;
  flex: auto;
  list-style: none;
}
.imgslider li a {
  display: block;
}
.imgslider img {
  width: 130px;
  height: 194px;
  object-fit: center;
  object-position: top;
}
.productimg {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 635px;
  width: 420px;
}
.productimg li {
  list-style: none;
  position: absolute;
  /* z-index: 1; */
}
.productimg img {
  height: 635px;
  object-fit: cover;
  object-position: top;
}
.productimg li:target {
  z-index: 1;
}
.rating {
  color: #cc9266;
  font-size: 20px;
}
.pname {
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.product-detail {
  width: 350px;
}
.product-info h3 {
  font-size: 28px;
  font-weight: 700;
  font-family: Arial;
  margin: 10px 0 !important;
}
.product-info h5 {
  font-size: 18px;
  margin: 10px auto;
  font-weight: 900;
}
.product-info p {
  font-size: 14px;
  font-weight: 900;
  text-align: justify;
  margin: 10px auto;
}
.product-info span {
  font-size: 20px;
  font-weight: 900;
}
hr {
  margin: 10px auto;
}
h4 {
  font-weight: 900;
  margin-top: 5px;
}
.seller {
  display: flex;
  align-items: center;
  margin: 10px auto;
}
.seller img {
  width: 80px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.rent-detail {
  margin-top: 20px;
  border: 1px solid #ccc1c1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.top {
  background: #8aaae5;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.top h6 {
  font-size: 20px;
}
.top p {
  font-size: 18px;
}

.detailimg img {
  width: 70px;
  height: auto;
}
.bottom {
  padding: 25px;
}
.date-info {
  display: flex;
  justify-content: flex-end;
  border: 1px solid rgba(98, 91, 91, 0.54);
  padding: 10px;
  margin-top: 20px;
}
.date-info i {
  color: rgba(0, 0, 0, 0.4);
  font-size: 24px;
}
.bottom h5 {
  font-size: 20px;
  font-weight: 900;
}
#add-cart {
  background: #8aaae5;
  border: none;
  width: 100%;
  padding: 10px;
  color: white;
  padding: 15px;
  font-size: 18px;
  margin: 20px auto;
}
#add-cart i {
  padding-right: 15px;
}

@media screen and (max-width: 992px) {
  .container {
    margin: 20px;
  }
  .imgslider img {
    width: 100px;
    height: 140px;
    aspect-ratio: 1/1;
  }
  .rent-detail {
    margin-top: 8px;
    width: 100%;
    height: 270px;
  }
  .imgslider {
    display: flex;
    flex-direction: column;
    line-height: 4;
    height: 500px;
  }

  .productimg {
    overflow: hidden;
    width: 350px;
  }
  .productimg li {
    list-style: none;
    position: absolute;
    z-index: 1;
    /* height: 4px; */
  }
  .productimg img {
    width: 100%;
    height: 475px;
    object-fit: cover;
    object-position: top;
  }
  .productimg li:target {
    z-index: 3;
  }
  .rating {
    color: #cc9266;
    font-size: 16px;
  }
  .product-detail {
    width: 350px;
    height: 500px;
  }
  .product-info h3 {
    margin: 5px auto;
    font-size: 26px;
  }
  .product-info h5 {
    font-size: 18px;
    margin: 5px auto;
  }
  .product-info p {
    margin: 5px auto;
    font-size: 14px;
  }
  hr {
    margin: 5px auto;
  }
  .product-info span {
    margin-top: 5px;
    font-size: 18px;
  }
  .product-detail {
    width: 300px;
    height: 475px;
  }

  .top {
    height: 100px;
    padding: 5px 15px;
  }
  .top h6 {
    font-size: 17px;
  }
  .top p {
    font-size: 15px;
  }
  .detailimg img {
    width: 55px;
    height: auto;
  }
  .bottom {
    padding: 6px 18px;
    margin-right: 0;
  }
  .date-info {
    display: flex;
    padding: 8px;
  }
  .date-info i {
    color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
  }
  .bottom h5 {
    font-size: 16px;
  }
  #add-cart {
    width: 100%;
    font-size: 16px;
    padding: 12px;
  }
}
@media screen and (max-width: 790px) {
  /* .product-detail {
    width: 528px;
    margin-right: 30px;
  }
  */
  .imgslider {
    padding: 0;
    margin: auto;
  }
  .productimg {
    width: 350px;
    height: 550px;
  }
  .product-detail {
    width: 540px;
    margin: auto;
  }

  .imgslider img {
    width: 100px;
    aspect-ratio: 1/1;
    /* height: 140px */
  }
  .rent-detail {
    margin-top: 8px;
    width: 301px;
    height: 270px;
  }

  .productimg img {
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
  #addcart {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .image {
    display: flex;
    flex-wrap: wrap;
  }
  .productimg img {
    width: 100%;
    height: auto;
  }
}
