.change-password-background{
    background: #8AAAE5;
    margin-bottom: 50px;
   }
   
   .change-password-title{
        font-weight: lighter;
    font-style: poppins;
    margin: 20px;
   }

   
   .password-btn{
    background: #8AAAE5;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;

}