.about-us-container .aboutUs {
    background: #8aaae5;
}

.about-us-container .aboutUs-title {
    font-weight: lighter;
    font-style: poppins;
    margin: 20px;
}

.about-us-container .heading {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-us-container .heading-img {
    margin-left: 70px;
}

.about-us-container .img-fluid {
    width: 100;
}

.about-us-container .img-thumbnail {
    border: whitesmoke;
    margin: 10px;
    height: 70px;
}

.about-us-container .description-Section {
    margin: 10px;
}

.about-us-container .media {
    margin: 30px;
}

@media (max-width: 1000px) {
     .about-us-container .img-fluid {
        display: none;
    }
}
