.homepage .bg {
    margin: auto;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    background: url('../../../images/dress.jpg');
    background-attachment: fixed;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.homepage .text-center {
    margin-top: 50px;
}

.homepage .img-thumbnail {
    width: 80%;
    height: 70%;
    border: white;
}



.homepage .img-fluid {
    width: 70%;
    height: 350px;
    border: white;
}

.homepage #deals {
    background: #8aaae5;
    height: auto;
    width: 100%;
}

.homepage .btn-rent {
    padding: 15px 40px;
    background: #8aaae5;
    color: white;
    border: #8aaae5;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.homepage .section-subheading {
    color: white;
}

.homepage .card {
    border: white;
}

.homepage #offercaraousel {
    background-color: #8aaae5;
}

.homepage #rent {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 70px;
}

.homepage #rent h2 {
    text-align: center;
}

.homepage .btn-browse {
    padding: 15px 40px;
    font-size: 20px;
    color: #8aaae5;
    margin-bottom: 50px;
}



.homepage button {
    background-color: #6aab9c;
    color: white;
    padding: 16px 0px;
    margin: 30px 0;
    margin-left: 35px;
    border: none;
    text-transform: uppercase;
    width: 350px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-size: 20px;
    
}

.homepage .bg button {
    background-color: #8aaae5;
    color: white;
    padding: 16px 0px;
    border: none;
    text-transform: uppercase;
    width: 350px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-size: 20px;
}

.homepage .bg button:hover {
    
    background-color: #59a896;
    box-shadow: 2px 2px 1px #6bac9d;
}

.homepage #offer button {
    background-color: #ffffff;
    color: #8aaae5;
    padding: 16px 0px;
    border: none;
    /* text-transform: uppercase; */
    width: 350px;
    margin-bottom: 50px;
    margin-top:5px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    box-shadow: 2px 2px 1px #d3d6d6;
    font-size: 20px;
}

.homepage #offer button:hover {
    background-color: #8aaae5;
    color: #ffffff;
    border: 1px solid #fff;
}

.homepage #offer h2{
    color: #ffffff;
    font-size:23px;
    font-weight: bold;
}

.homepage #offer h3{
    margin-top: 50px;
    font-size:18px;
    color: #ffffff;
}

.outer-latest-released {
    width: 100%;
    padding: 40px 0;
    margin-top: 40px;
}

.outer-latest-released h2 {
    text-align: center;
}

.outer-latest-released .latest-released {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    width: 100%;
    grid-gap: 20px;
}

.outer-latest-released .latest-released .single-latest-released {
    width: 100%;
    padding: 1rem;
    border: 0.5px solid rgb(235, 235, 235);
}

.outer-latest-released .latest-released .single-latest-released img {
    object-fit: contain;
    border-radius: 5px;
    height: 400px;
    width: 100%;
}

.outer-latest-released .latest-released .single-latest-released img:hover {
    opacity: 0.95;
}

.outer-latest-released .latest-released .single-latest-released .movie-info {
    padding: 20px 0;
}

.outer-latest-released .latest-released .single-latest-released .movie-info h2:hover {
    text-decoration: underline;
}

.outer-latest-released .latest-released .single-latest-released .movie-info span {
    text-decoration: underline;
    margin-left: 5px;
}

.outer-latest-released .latest-released .single-latest-released .movie-info h6 {
   font-weight: bold;
   margin-top: 5px;
}


@media only screen and (max-width: 600px) {
    .homepage .home-button{
        width: 250px !important;
        font-size: 15px !important;
    }
  }