@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");
:root {
  --bg: #8aaae5;
  --a: #ccc1c1;
  --b: #000000;
  --c: #d75e5e;
  --d: #ccc1c1;
  --e: #d0e777;
  --f: #39ff18;
  --g: #929ae3;
  --h: #d0e777;
  --i: #f0a8dc;
  --j: #68aba7;
  --k: #d6f12c;
  --l: #f0a8dc;
  --m: #ff9900;
  --n: #936837;
  --o: #e2dff2;
  --p: #ff9900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg);
  color: white;
  height: 110px;
  font-size: 26px;
  font-weight: 500;
}
.container {
  padding: 0 10px;
}

.row {
  margin: 30px 0;
}
.col-5 {
  margin-top: 35px;
}
.select-item {
  display: flex;
  flex-direction: row;
}
.select-item input {
  margin-top: 6px;
  margin-right: 15px;
}
h1 {
  font-size: 2.2rem !important;
  font-weight: 900 !important;
}
.col-5 h3 {
  margin: 20px 0;
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}
.col-5 p {
  font-weight: 600;
}
.product-section {
  display: flex;
  justify-content: flex-start;
}
.card {
  margin: 10px 5px;
  width: 30%;
  /* height: 500px; */
}
/* .card img {
  width: 70%;
  height: 350px;
} */
.card-title {
  font-weight: 900;
  font-size: 20px;
}
.price-item {
  display: flex;
}
#price {
  display: flex;
  border: 1px solid #000;
  align-items: center;
  justify-content: space-evenly;
  width: 70px;
  margin-right: 10px;
}
#price input {
  border: none;
}
.filter-input-pairs.filter-input-pairs--colors,
.filter-input-pairs.filter-input-pairs--sizes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
}
.filter-input-pairs.filter-input-pairs--colors .input-wrapper {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.color input[type="checkbox"] {
  opacity: 0.01;
}

.grid-color-1 {
  margin-right: 5px;
  background: var(--a);
}
.grid-color-2 {
  margin-right: 5px;

  background: var(--b);
}
.grid-color-3 {
  margin-right: 5px;

  background: var(--c);
}
.grid-color-4 {
  margin-right: 5px;

  background: var(--d);
}
.grid-color-5 {
  margin-right: 5px;
  margin-top: 5px;

  background: var(--e);
}
.grid-color-6 {
  margin-right: 5px;
  margin-top: 5px;
  background: var(--f);
}
.grid-color-7 {
  margin-right: 5px;
  margin-top: 5px;
  background: var(--g);
}
.grid-color-8 {
  margin-right: 5px;
  margin-top: 5px;
  background: var(--h);
}
.grid-color-9 {
  margin-right: 5px;
  margin-top: 5px;
  background: var(--i);
}
.grid-color-10 {
  margin-right: 5px;
  margin-top: 5px;
  background: var(--j);
}
.grid-color-11 {
  margin-right: 5px;
  margin-top: 5px;
  background: var(--k);
}
.grid-color-12 {
  margin-right: 5px;
  margin-top: 5px;
  background: var(--l);
}
.grid-color-13 {
  margin-right: 5px;
  margin-top: 5px;
  background: var(--m);
}
.grid-color-14 {
  margin-right: 5px;
  margin-top: 5px;
  background: var(--n);
}
.grid-color-15 {
  margin-right: 5px;
  margin-top: 5px;
  background: var(--o);
}
.grid-color-16 {
  margin-right: 5px;
  margin-top: 5px;
  background: var(--p);
}

/* @media screen and (max-width: 1192px) {
  .price-item {
    display: flex;
    flex-direction: column;
  }
  #price {
    display: flex;
    border: 1px solid #000;
    align-items: center;
    justify-content: space-evenly;
    width: 70px;
  }
} */
@media screen and (max-width: 1140px) {
  .card {
    display: flex;
    flex: 1 30%;
  }
}
@media screen and (max-width: 992px) {
  .card {
    display: flex;
    flex: 1 46%;
  }
}
@media screen and (max-width: 740px) {
  .card {
    display: flex;
    flex: 1 46%;
  }

  .price-item {
    flex-direction: column;
  }
}
@media screen and (max-width: 576px) {
  .card {
    display: flex;
    flex: 1 100%;
  }
  .price-item {
    flex-direction: column;
  }
}
