@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

.add-item{
 background: #8AAAE5;
}

.add-item-text{
     font-weight: lighter;
 font-style: poppins;
 margin: 20px;
 font-size: xx-large;
}

.edit{
    background: #8AAAE5;
    color: white;
    margin-top: 20px;
    margin-bottom: 100px;

}

.form-title{
    font-weight: bold;
}

.form-group{
    margin-top: 20px;
    margin-bottom: 20px;
}