@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");
:root {
  --bg: #8aaae5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  height: 120px;
  font-size: 26px;
  color: white;
}
.img {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 40px 0;
}
.row {
  display: flex;
  justify-content: center;
}
#updatebtn {
  background: #82a0d8;
  border: none;
  outline: none;
  width: 100%;
}
.edit-btn {
  width: fit-content;
  position: relative;
}
.butn {
  position: absolute;
  top: 78%;
  left: 76%;
  background-color: var(--bg);
  color: white;
  font-size: 16px;
  padding: 3px 9px;
  border: none;
  cursor: pointer;
  border-radius: 80%;
  outline: none;
}
i {
  font-size: 10px;
}
label {
  font-weight: 600;
  margin-right: 5px;
}
